body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #314755, #26a0da);
}

#container {
    width: 90%; /* Adjust the width as needed */
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: scaleUp 1s ease forwards;
}

/* Add media queries for smaller screen sizes */
@media (max-width: 768px) {
    #container {
        width: 95%; /* Adjust the width as needed for smaller screens */
    }
}

h1 {
    color: #67ff1b;
    margin-bottom: 30px;
    background-color: #333;
    padding: 10px; /* Add padding for better visibility */
    animation: scaleUp 2s ease forwards;
}

/* Define the animation */
@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Apply the animation to the div elements */
.animate-divs {
    animation: scaleUp 1s ease;
}

@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

#fen-input {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#error-message {
    color: red;
}

#chessboard, #statistics, #evaluation {
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Add overflow property */
}

#chessboard pre,
#statistics pre,
#evaluation pre {
    margin: 0; /* Remove default margin */
    white-space: pre-wrap; /* Allow wrapping within pre tag */
}
